.container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);
}
.body {
  background-color: #e3f2fd;
  border-radius: 8px;
  box-shadow: 1px 2px 8px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.title {
  background-color: #5372f0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px;
}
.desc {
  font-size: medium;
  margin-top: 16px;
  padding: 0px 16px;
}
.button {
  background-color: #5372f0;
  color: white;
  border-radius: 4px;
  padding: 10px 80px;
  margin: 40px 0px;
}
.button:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 1px 2px 8px gray;
}
.success {
  background-color: green;
}
.error {
  background-color: red;
}
@media (max-width: 720px) {
  .body {
    scale: 0.9;
  }
}
@media (max-width: 480px) {
  .body {
    scale: 0.7;
  }
}
